{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1 id="room_code">{{ code }}</h1>
  <h1>Track Info</h1>
  <h2 id="trackName">Track Name</h2>
  <h3 id="albumName">Album Name</h3>
  <img id="albumIm" src="">

  <script src="https://sdk.scdn.co/spotify-player.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


  <script>
	var spotify_token = localStorage.getItem('myToken');
	//var playlist = localStorage.getItem('current_playlist');
	var code = document.getElementById('room_code').innerHTML;
	var cur_playlist = localStorage.getItem('playlist/' + code);
	console.log("CURRENT PLAYLIST: ", cur_playlist);

    var spotifyDevice = '';

	var spotifyPlayer = '';


        function runMyPlayer() {
             console.log('running my player');

             var xhttp = new XMLHttpRequest();
	     xhttp.onreadystatechange = function() {
                 if (xhttp.readyState == 4){
                     console.log("AJAX: "+xhttp.status+" "+xhttp.response);
                 }
             };

             xhttp.open("PUT","https://api.spotify.com/v1/me/player/play?device_id="+spotifyDevice);
             xhttp.setRequestHeader("Accept","application/json");
             xhttp.setRequestHeader("Content-Type","application/json");
             xhttp.setRequestHeader("Authorization","Bearer " + spotify_token);
             xhttp.send("{\"context_uri\":\"" + cur_playlist + "\",\"offset\":{\"position\":0},\"position_ms\":0}");

        }


  </script>

  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = spotify_token;
      const player = new Spotify.Player({
        name: 'B-Sides Player',
        getOAuthToken: cb => { cb(token); }
      });


      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => {

          var code  = document.getElementById('room_code').innerHTML;
          var option_one = JSON.parse(localStorage.getItem('vote_a/' + code));
          var option_two = JSON.parse(localStorage.getItem('vote_b/' + code));
          vote_sys(option_one,option_two,code);
          console.log(state);
          var track = state.track_window.current_track.name;
          var album = state.track_window.current_track.album.name;
          var im = state.track_window.current_track.album.images[0].url;
          document.getElementById('trackName').innerText = state.track_window.current_track.name;
          document.getElementById('albumName').innerText = state.track_window.current_track.album.name;
          document.getElementById('albumIm').src = state.track_window.current_track.album.images[0].url;

          localStorage.setItem('track/' + code, track);
          localStorage.setItem('album/' + code, album);
          localStorage.setItem('im/' + code, im);


      });

        function vote_sys(option_one,option_two,code){
            if (option_two > option_one){
                player.nextTrack().then(() => {
                    console.log("Skip");
                });
                player.nextTrack().then(() => {
                    console.log("Skip");
                });
            }
            localStorage.setItem('vote_a/' + code, JSON.stringify(0));
            localStorage.setItem('vote_b/' + code, JSON.stringify(0));
        }



      {#document.getElementById("skip").onclick = function() {skip(1)};#}
      {#document.getElementById("skip_two").onclick = function() {skip(2)};#}


      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
        spotifyDevice = device_id;
	    spotifyPlayer = player;
        console.log('Spotify Device ',spotifyDevice);
        const iframe = document.querySelector('iframe[src="https://sdk.scdn.co/embedded/index.html"]');

        if (iframe) {
            iframe.style.display = 'block';
            iframe.style.position = 'absolute';
            iframe.style.top = '-1000px';
            iframe.style.left = '-1000px';
}

        runMyPlayer();

      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });


      // Connect to the player!
      player.connect();
    };

  function init(){
      document.getElementById('room_code').style.display = "none";
  }
    window.onload = init;
  </script>
{% endblock %}