{% extends "index.html" %}
{% block page_content %}
  <h1>Track Info</h1>
  <h2 id="trackName">Track Name</h2>
  <h3 id="albumName">Album Name</h3>
  <img id="albumIm" src="">
    <button id="skip" type="button" onclick="">One Skip</button>
    <button id="skip_two" type="button" onclick="">Two Skips</button>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>


  <script>
	var spotify_token = localStorage.getItem('myToken');

        var spotifyDevice = '';

	var spotifyPlayer = '';


        function runMyPlayer() {
             console.log('running my player');

             var xhttp = new XMLHttpRequest();
	     xhttp.onreadystatechange = function() {
                 if (xhttp.readyState == 4){
                     console.log("AJAX: "+xhttp.status+" "+xhttp.response);
                 }
             };

             xhttp.open("PUT","https://api.spotify.com/v1/me/player/play?device_id="+spotifyDevice);
             xhttp.setRequestHeader("Accept","application/json");
             xhttp.setRequestHeader("Content-Type","application/json");
             xhttp.setRequestHeader("Authorization","Bearer "+spotify_token);
             xhttp.send("{\"context_uri\":\"spotify:user:birdforceone:playlist:5GphGK4RJQS0HxduJvqgFH\",\"offset\":{\"position\":0},\"position_ms\":0}");

        }



  </script>

  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = spotify_token;
      const player = new Spotify.Player({
        name: 'B-Sides Player',
        getOAuthToken: cb => { cb(token); }
      });


      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state);
      document.getElementById('trackName').innerText = state.track_window.current_track.name;
      document.getElementById('albumName').innerText = state.track_window.current_track.album.name;
      document.getElementById('albumIm').src = state.track_window.current_track.album.images[0].url;

      });

      function skip(option) {
          if (option == 1){
              player.nextTrack().then(() => {
                  console.log("Skip one song");
              });
          } else {
              player.nextTrack().then(() => {
                  console.log("Skip one song");
              });
              player.nextTrack().then(() => {
                  console.log("Skip two songs")
              });
          }
      }

      document.getElementById("skip").onclick = function() {skip(1)};
      document.getElementById("skip_two").onclick = function() {skip(2)};


      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
        spotifyDevice = device_id;
	    spotifyPlayer = player;
        console.log('Spotify Device ',spotifyDevice);
        runMyPlayer();

      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });


      // Connect to the player!
      player.connect();
    };


  </script>
{% endblock %}