{% extends 'index.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1 id="room_code">{{ code }}</h1>
    <h1>{{ name }}</h1>
  <h2 id="trackName">Track: {{ track }}</h2>
    <h4 id="artistName">Artist: {{ artist }}</h4>
  <h4 id="albumName">Album: {{ album }}</h4>
  <img id="albumIm" src="{{ im }}">
{#    {{ wtf.quick_form(form) }}#}
    <button id="vote_a" type="button" onclick="up_a()">----A----</button>
    <button id="vote_b" type="button" onclick="up_b()">----B----</button>
    <script>
    function init() {
        document.getElementById('room_code').style.display = "none";
        {#var code = document.getElementById('room_code').innerHTML;#}
        {#var track = localStorage.getItem('track/' + code);#}
        {#var album = localStorage.getItem('album/' + code);#}
        {#var im = localStorage.getItem('im/' + code);#}
        {#console.log(track);#}
        {#document.getElementById('trackName').innerText = track;#}
        {#document.getElementById('albumName').innerText = album;#}
        {#document.getElementById('albumIm').src = im;#}
    }

    function up_a(){
        var code = document.getElementById('room_code').innerHTML;
        var inc = JSON.parse(localStorage.getItem('vote_a/' + code));
        inc += 1;
        console.log("Number of votes for A:", inc);
        localStorage.setItem('vote_a/' + code, JSON.stringify(inc));
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/room/viewer/' + code, {
            vote_a: inc
        }, function (data) {
            var response = data.result;
            console.log("NEW RESPONSE: ", response);
        });
    }

    function up_b(){
        var code = document.getElementById('room_code').innerHTML;
        var inc = JSON.parse(localStorage.getItem('vote_b/' + code));
        inc += 1;
        console.log("Number of votes for B:", inc);
        localStorage.setItem('vote_b/' + code, JSON.stringify(inc));
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/room/viewer/' + code, {
            vote_b: inc
        }, function (data) {
            var response = data.result;
            console.log("NEW RESPONSE: ", response);
        });
    }
    window.onload = init;
    </script>
{% endblock %}


